<template>
  <div id="app">
    <div class="main" ref="main">
      <p>Main</p>
    </div>
    <div class="sidebar" ref="sidebar">
      <p>Sidebar</p>
    </div>

    <div class="new-widget">
      <input type="text" placeholder="headline caption" v-model="newHeadline"/>
      <select v-model="newDomSelected">
        <option v-for="domElement in domElements" v-bind:value="domElement" :key="domElement">
          {{ domElement }}
        </option>
      </select>
      <button v-on:click="newWidget">Create Widget</button>
    </div>
  </div>
</template>

<script>
// use static json for demo
import pagebuilding from './data/pagebuilding.json';
import widgets from './data/widgets.json';

import Vue from 'vue'
import Headline from './components/Headline.vue'

export default {
  name: 'app',
  components: {
    Headline
  },
  data: function() {
    return {
      newHeadline: "",
      domElements: [],
      newDomSelected: ""
    }
  },
  methods: {
    loadWidgets: function(path) {
      // iterate through existing dom elements ($refs)
      Object.keys(this.$refs).forEach(domRef => {
        // add to array for later usage in select box
        this.domElements.push(domRef);

        // get page by path
        const page = pagebuilding.find(page => page.path === path);

        if (page !== undefined) {
        // iterate through widget ids defined for dom element
          for (let widgetId of page[domRef]) {

            // get widget by id
            const widget = widgets.find(widget => widget.id === widgetId);

            // get component based on componentName in json
            const component = this.$options.components[widget.componentName];

            // create component
            this.createComponent(component, widget.props, domRef);
          }
        }
      });
    },
    createComponent: function(component, propsData, domRef) {
      var ComponentClass = Vue.extend(component);
      var instance = new ComponentClass({
          propsData
      });
      instance.$mount();
      this.$refs[domRef].appendChild(instance.$el);
    },
    newWidget: function() {
      if (this.newDomSelected !== "" && this.newHeadline !== "") {
        this.createComponent(Headline, {msg: this.newHeadline}, this.newDomSelected)
      }
    }
  },
  mounted() {
    this.loadWidgets(window.location.pathname);    
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main,
.sidebar {
  margin: 25px;
  padding: 25px;
  border: 1px solid silver;
}

.new-widget {
  width: 100%;
  text-align: center;
}
</style>
